html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .container {
    height: 720px;
    background: #EA4961;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  
  .loader {
    position: relative;
    width: 75px;
    height: 100px;
  }
  .loader__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: #fff;
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  }
  .loader__bar:nth-child(1) {
    left: 0px;
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
    -webkit-animation: barUp1 4s infinite;
            animation: barUp1 4s infinite;
  }
  .loader__bar:nth-child(2) {
    left: 15px;
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
    -webkit-animation: barUp2 4s infinite;
            animation: barUp2 4s infinite;
  }
  .loader__bar:nth-child(3) {
    left: 30px;
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
    -webkit-animation: barUp3 4s infinite;
            animation: barUp3 4s infinite;
  }
  .loader__bar:nth-child(4) {
    left: 45px;
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
    -webkit-animation: barUp4 4s infinite;
            animation: barUp4 4s infinite;
  }
  .loader__bar:nth-child(5) {
    left: 60px;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-animation: barUp5 4s infinite;
            animation: barUp5 4s infinite;
  }
  .loader__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation: ball 4s infinite;
            animation: ball 4s infinite;
  }
  
  @-webkit-keyframes ball {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    5% {
      -webkit-transform: translate(8px, -14px);
              transform: translate(8px, -14px);
    }
    10% {
      -webkit-transform: translate(15px, -10px);
              transform: translate(15px, -10px);
    }
    17% {
      -webkit-transform: translate(23px, -24px);
              transform: translate(23px, -24px);
    }
    20% {
      -webkit-transform: translate(30px, -20px);
              transform: translate(30px, -20px);
    }
    27% {
      -webkit-transform: translate(38px, -34px);
              transform: translate(38px, -34px);
    }
    30% {
      -webkit-transform: translate(45px, -30px);
              transform: translate(45px, -30px);
    }
    37% {
      -webkit-transform: translate(53px, -44px);
              transform: translate(53px, -44px);
    }
    40% {
      -webkit-transform: translate(60px, -40px);
              transform: translate(60px, -40px);
    }
    50% {
      -webkit-transform: translate(60px, 0);
              transform: translate(60px, 0);
    }
    57% {
      -webkit-transform: translate(53px, -14px);
              transform: translate(53px, -14px);
    }
    60% {
      -webkit-transform: translate(45px, -10px);
              transform: translate(45px, -10px);
    }
    67% {
      -webkit-transform: translate(37px, -24px);
              transform: translate(37px, -24px);
    }
    70% {
      -webkit-transform: translate(30px, -20px);
              transform: translate(30px, -20px);
    }
    77% {
      -webkit-transform: translate(22px, -34px);
              transform: translate(22px, -34px);
    }
    80% {
      -webkit-transform: translate(15px, -30px);
              transform: translate(15px, -30px);
    }
    87% {
      -webkit-transform: translate(7px, -44px);
              transform: translate(7px, -44px);
    }
    90% {
      -webkit-transform: translate(0, -40px);
              transform: translate(0, -40px);
    }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  
  @keyframes ball {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    5% {
      -webkit-transform: translate(8px, -14px);
              transform: translate(8px, -14px);
    }
    10% {
      -webkit-transform: translate(15px, -10px);
              transform: translate(15px, -10px);
    }
    17% {
      -webkit-transform: translate(23px, -24px);
              transform: translate(23px, -24px);
    }
    20% {
      -webkit-transform: translate(30px, -20px);
              transform: translate(30px, -20px);
    }
    27% {
      -webkit-transform: translate(38px, -34px);
              transform: translate(38px, -34px);
    }
    30% {
      -webkit-transform: translate(45px, -30px);
              transform: translate(45px, -30px);
    }
    37% {
      -webkit-transform: translate(53px, -44px);
              transform: translate(53px, -44px);
    }
    40% {
      -webkit-transform: translate(60px, -40px);
              transform: translate(60px, -40px);
    }
    50% {
      -webkit-transform: translate(60px, 0);
              transform: translate(60px, 0);
    }
    57% {
      -webkit-transform: translate(53px, -14px);
              transform: translate(53px, -14px);
    }
    60% {
      -webkit-transform: translate(45px, -10px);
              transform: translate(45px, -10px);
    }
    67% {
      -webkit-transform: translate(37px, -24px);
              transform: translate(37px, -24px);
    }
    70% {
      -webkit-transform: translate(30px, -20px);
              transform: translate(30px, -20px);
    }
    77% {
      -webkit-transform: translate(22px, -34px);
              transform: translate(22px, -34px);
    }
    80% {
      -webkit-transform: translate(15px, -30px);
              transform: translate(15px, -30px);
    }
    87% {
      -webkit-transform: translate(7px, -44px);
              transform: translate(7px, -44px);
    }
    90% {
      -webkit-transform: translate(0, -40px);
              transform: translate(0, -40px);
    }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  @-webkit-keyframes barUp1 {
    0% {
      -webkit-transform: scale(1, 0.2);
              transform: scale(1, 0.2);
    }
    40% {
      -webkit-transform: scale(1, 0.2);
              transform: scale(1, 0.2);
    }
    50% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    90% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    100% {
      -webkit-transform: scale(1, 0.2);
              transform: scale(1, 0.2);
    }
  }
  @keyframes barUp1 {
    0% {
      -webkit-transform: scale(1, 0.2);
              transform: scale(1, 0.2);
    }
    40% {
      -webkit-transform: scale(1, 0.2);
              transform: scale(1, 0.2);
    }
    50% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    90% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    100% {
      -webkit-transform: scale(1, 0.2);
              transform: scale(1, 0.2);
    }
  }
  @-webkit-keyframes barUp2 {
    0% {
      -webkit-transform: scale(1, 0.4);
              transform: scale(1, 0.4);
    }
    40% {
      -webkit-transform: scale(1, 0.4);
              transform: scale(1, 0.4);
    }
    50% {
      -webkit-transform: scale(1, 0.8);
              transform: scale(1, 0.8);
    }
    90% {
      -webkit-transform: scale(1, 0.8);
              transform: scale(1, 0.8);
    }
    100% {
      -webkit-transform: scale(1, 0.4);
              transform: scale(1, 0.4);
    }
  }
  @keyframes barUp2 {
    0% {
      -webkit-transform: scale(1, 0.4);
              transform: scale(1, 0.4);
    }
    40% {
      -webkit-transform: scale(1, 0.4);
              transform: scale(1, 0.4);
    }
    50% {
      -webkit-transform: scale(1, 0.8);
              transform: scale(1, 0.8);
    }
    90% {
      -webkit-transform: scale(1, 0.8);
              transform: scale(1, 0.8);
    }
    100% {
      -webkit-transform: scale(1, 0.4);
              transform: scale(1, 0.4);
    }
  }
  @-webkit-keyframes barUp3 {
    0% {
      -webkit-transform: scale(1, 0.6);
              transform: scale(1, 0.6);
    }
    100% {
      -webkit-transform: scale(1, 0.6);
              transform: scale(1, 0.6);
    }
  }
  @keyframes barUp3 {
    0% {
      -webkit-transform: scale(1, 0.6);
              transform: scale(1, 0.6);
    }
    100% {
      -webkit-transform: scale(1, 0.6);
              transform: scale(1, 0.6);
    }
  }
  @-webkit-keyframes barUp4 {
    0% {
      -webkit-transform: scale(1, 0.8);
              transform: scale(1, 0.8);
    }
    40% {
      -webkit-transform: scale(1, 0.8);
              transform: scale(1, 0.8);
    }
    50% {
      -webkit-transform: scale(1, 0.4);
              transform: scale(1, 0.4);
    }
    90% {
      -webkit-transform: scale(1, 0.4);
              transform: scale(1, 0.4);
    }
    100% {
      -webkit-transform: scale(1, 0.8);
              transform: scale(1, 0.8);
    }
  }
  @keyframes barUp4 {
    0% {
      -webkit-transform: scale(1, 0.8);
              transform: scale(1, 0.8);
    }
    40% {
      -webkit-transform: scale(1, 0.8);
              transform: scale(1, 0.8);
    }
    50% {
      -webkit-transform: scale(1, 0.4);
              transform: scale(1, 0.4);
    }
    90% {
      -webkit-transform: scale(1, 0.4);
              transform: scale(1, 0.4);
    }
    100% {
      -webkit-transform: scale(1, 0.8);
              transform: scale(1, 0.8);
    }
  }
  @-webkit-keyframes barUp5 {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    40% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    50% {
      -webkit-transform: scale(1, 0.2);
              transform: scale(1, 0.2);
    }
    90% {
      -webkit-transform: scale(1, 0.2);
              transform: scale(1, 0.2);
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  }
  @keyframes barUp5 {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    40% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    50% {
      -webkit-transform: scale(1, 0.2);
              transform: scale(1, 0.2);
    }
    90% {
      -webkit-transform: scale(1, 0.2);
              transform: scale(1, 0.2);
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  }


  @-webkit-keyframes animacao1 { 0% {background: #D62623;}
  50% {background: #EE3430;}
  100% {background: #FB3733;} }

@-moz-keyframes animacao1 { 0% {background: #D62623;}
50% {background: #EE3430;}
100% {background: #FB3733;} }

@keyframes animacao1 { 0% {background: #D62623;}
  50% {background: #EE3430;}
  100% {background: #FB3733;} }


#tudo {
  width: 750px;
  height: 580px;
  margin: auto;
  margin-top: 20px;
  border-radius: 40px;
  -webkit-animation-name: animacao1;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function:  linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  -moz-animation-name: animacao1;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function:  linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate; 

  animation-name: animacao1;
  animation-duration: 1s;
  animation-timing-function:  linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  position: absolute;
  top: 0;
  left: 300px;
  z-index: 99;
}


.gameover {width:750px;
height: auto;
padding-top: 60px;
background: none;}

.gameover p {margin-top: 0px;
margin-bottom: 0px;
font-size: 160px;
font-family: 'Black Ops One', cursive;
line-height: 120px;
text-align: center;
text-shadow: 5px 5px #000000;
color: #ffffff;}

.continue	{width: 750px;
height: auto;
padding-top: 40px;}

.continue p {margin-top: 0px;
margin-bottom: 0px;
text-align: center;
font-size: 40px;
font-weight: bold;
font-family: corbel;
color: #ffffff;
text-shadow: 2.5px 2.5px #000000;}

.opcoes {width: 550px;
height: auto;
padding-top: 50px;
margin: auto;}

.yes a {text-align: center;
font-size: 30px;
font-weight: bold;
font-family: corbel;
color: #ffffff;
text-decoration: none;
text-shadow: 2.5px 2.5px #000000;
padding: 25px 110px 25px 110px;
border: 1px solid #000000;
border-radius: 20px;
background: #006400;
margin-right: 30px;
float: left;}



@-webkit-keyframes animacao2 { from {-webkit-transform: scale(1);} 
 to {-webkit-transform: scale(1.2);} }

@-moz-keyframes animacao2 { from {-moz-transform: scale(1);} 
 to {-moz-transform: scale(1.1);} }

@keyframes animacao2 { from {transform: scale(1);} 
 to {transform: scale(1.1);} }


.yes a:hover {-webkit-animation-name: animacao2;
-webkit-animation-duration: 0.8s;
-webkit-animation-timing-function:  linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;

-moz-animation-name: animacao2;
-moz-animation-duration: 0.8s;
-moz-animation-timing-function:  linear;
-moz-animation-iteration-count: infinite;
-moz-animation-direction: alternate;

animation-name: animacao2;
animation-duration: 0.8s;
animation-timing-function:  linear;
animation-iteration-count: infinite;
animation-direction: alternate;}



.no a {text-align: center;
font-size: 30px;
font-weight: bold;
font-family: corbel;
color: #ffffff;
text-decoration: none;
text-shadow: 1.5px 1.5px #FB3733;
padding: 25px 100px 25px 100px;
border-radius: 20px;
background: #000000;
float: left;}


@-webkit-keyframes animacao3 { 0% {-webkit-transform: translate(-5px,0px);} 
  25% {-webkit-transform: translate(-2.5px, 0px);}
  50% {-webkit-transform: translate(0px, 0px);}
  75% {-webkit-transform: translate(2.5px, 0px);}
  100% {-webkit-transform: translate(5px, 0px);} }

@-moz-keyframes animacao3 { 0% {-moz-transform: translate(-5px,0px);} 
  25% {-moz-transform: translate(-2.5px, 0px);}
  50% {-moz-transform: translate(0px, 0px);}
  75% {-moz-transform: translate(2.5px, 0px);}
  100% {-moz-transform: translate(5px, 0px);} }

@keyframes animacao3 { 0% {transform: translate(-5px,0px);} 
  25% {transform: translate(-2.5px, 0px);}
  50% {transform: translate(0px, 0px);}
  75% {transform: translate(2.5px, 0px);}
  100% {transform: translate(5px, 0px);} }


.no a:hover {-webkit-animation-name: animacao3;
-webkit-animation-duration: 0.15s;
-webkit-animation-timing-function:  linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;

-moz-animation-name: animacao3;
-moz-animation-duration: 0.15s;
-moz-animation-timing-function:  linear;
-moz-animation-iteration-count: infinite;
-moz-animation-direction: alternate;

animation-name: animacao3;
animation-duration: 0.15s;
animation-timing-function:  linear;
animation-iteration-count: infinite;
animation-direction: alternate;
}
